:root{
    --Black: #020F16;
    --White: #F7F9F9;
    --Cyan: #56FCFC;
    --Magenta: #CE44FF;
    --Yellow: #f2f103;
    --Red: #FF2C55;
    overflow: overlay;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    background:var(--Black);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#mainContent{
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#searchNotes{
    margin: 0.5em 55px 0 55px;
    border-radius: 5px;
    box-shadow: 0 0 7px var(--White),
                0 0 10px var(--White),
                0 0 25px var(--White);
}

#notes{
    margin: 0 auto;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#newNoteBtn{
    color: var(--White);
    width: 246px;
    height: 246px;
    margin: 55px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--White);
    box-shadow: 0 0 7px var(--White),
                0 0 10px var(--White),
                0 0 25px var(--White);
}

#newNoteBtn:active{
    transform: scale(0.95);
}

.note{
    width: 246px;
    height: 246px;
    margin: 55px;
    color: var(--Magenta);
    text-align: center;
    border: 2px solid var(--Magenta);
    border-radius: 5px;
    box-shadow: 0 0 7px var(--Magenta),
                0 0 10px var(--Magenta),
                0 0 25px var(--Magenta);
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.note:active{
    transform: scale(0.95);
}

.noteColorCyan{
    color: var(--Cyan);
    border: 2px solid var(--Cyan);
    box-shadow: 0 0 7px var(--Cyan),
                0 0 10px var(--Cyan),
                0 0 25px var(--Cyan);
}

.noteColorYellow{
    color: var(--Yellow);
    border: 2px solid var(--Yellow);
    box-shadow: 0 0 7px var(--Yellow),
                0 0 10px var(--Yellow),
                0 0 25px var(--Yellow);
}

.noteIcon{
    font-size: 1.2em;
}

.noteIcon:hover, #noteLightboxClose:hover{
    opacity: 0.7;
}

.noteIcon:active, #noteLightboxClose:active{
    opacity: 0.5;
}

p{
    margin: 0;
    padding: 0 0.7em;
    pointer-events: none;
}

#noteTags{
    padding: 0;
    margin: 0.7em;
    width: 90%;
    text-align: left;
}

#noteTitle{
    color: var(--White);
    margin: 0.7em;
    width: 80%;
    overflow-wrap: break-word;
}

#noteDate{
    padding: 0;
    margin: 0.7em;
    width: 90%;
    text-align: right;
}

.noteForm{
    position: fixed;
    z-index: 100;
    width: 25vw;
    height: 52vh;
    color: var(--White);
    background: var(--Black);
    border: 2px solid var(--White);
    border-radius: 5px;
    box-shadow: 0 0 7px var(--White),
                0 0 10px var(--White),
                0 0 25px var(--White);
    display: none;
}

.noteForm.active{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input[type="text"], textarea, select, .tagList, .noteBulletListItems, #noteLightboxContent{
    color: var(--White);
    padding: 5px 0 5px 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
    background: transparent;
    border: 2px solid var(--White);
    border-radius: 5px;
    resize: none;
}

.noteBulletListItems{
    overflow-y: auto;
}

#newNoteChangeType, .noteTitle, .noteContent, .bulletList, .noteTags, .noteColor, #newNoteCancelAndSubmit, #editNoteCancelAndSave{
    display: flex;
    flex-direction: column;
    margin: 0 1.5em 0.5em 1.5em;
}

#newNoteChangeType{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
}

#newNoteTypeNoteBtn, #newNoteTypeBulletListBtn{
    display: none;
    position: absolute;
}

#newNoteTypeBulletListBtn{
    display: flex;
}

#newNoteContent, #newNoteBulletList {
    height: 40%;
}

#inputContent, #newNoteBulletListItems{
    padding: 5px 10px 10px 10px;
    height: 20vh;
}

#newNoteBulletListItems{
    padding: 0 10px 10px 10px;
}

#newNoteBulletList, #editNoteBulletList{
    display: none;
}

.tagList{
    display: flex;
    flex-wrap: wrap;
    padding: 0.3em;
}

#newNoteInputTag, #newNoteInputBulletItem, #editNoteInputTag, #editNoteInputBulletItem{
    flex: 1;
    padding: 0.5em;
    outline: none;
    border: 0;
    border-bottom: 1px solid var(--White);
    border-radius: 0;
}

#newNoteInputBulletItem, #editNoteInputBulletItem{
    padding: 5px 0 0 0;
    width: 100%;
    margin: 0 0 0.5em 0;
    position: sticky;
    top: 0;
    background-color: var(--Black);
}

.tag{
    margin: 0 0.3em 0 0;
    padding: 0.5em;
    color: var(--White);
    background: var(--Black);
    border: 2px solid var(--Red);
    border-radius: 5px;
}

.selectColor{
    border: 2px solid var(--Magenta);
    outline: none;
}

.selectColor option{
    background: var(--Black);
}

.optionCyan{
    color: var(--Cyan);
}

.optionYellow{
    color: var(--Yellow);
}

.optionMagenta{
    color: var(--Magenta);
}

#newNoteCancelAndSubmit, #editNoteCancelAndSave{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    width: 100px;
    font-family: 'Orbitron', sans-serif;
    color: var(--White);
    background: var(--Black);
    border: 2px solid var(--White);
    border-radius: 5px;
}

button:active{
    color: var(--Black);
    background: var(--White);
}

.cancelBtn{
    color: var(--White);
    background: var(--Black);
    border: 2px solid var(--White);
    opacity: 0.7;
}

#newNoteCancel button:active, #editNoteCancel button:active{
    background: var(--White);
    color: var(--Black);
}

.noteLightbox{
    position: fixed;
    z-index: 100;
    width: 25vw;
    height: 50vh;
    background: var(--Black);
    border: 2px solid var(--Cyan);
    border-radius: 5px;
    box-shadow: 0 0 7px var(--Cyan),
                0 0 10px var(--Cyan),
                0 0 25px var(--Cyan);
    display: none;
}

.noteLightbox.active{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noteLightbox > #noteLightboxButtons{
    color: var(--Cyan);
    font-size: 1.5em;
    margin: 1em 1em 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noteLightbox > #noteLightboxClose{
    font-size: 2em;
}

#noteLightboxContainer{
    display: flex;
    flex-direction: column;
    margin: 1em 1.5em 1.5em 1.5em;
    height: 100%;
}

#noteLightboxTitle{
    padding: 10px;
    margin: 0 0 0.7em 0;
}

#noteLightboxContent{
    padding: 10px;
    height: 100%;
    margin: 0 0 0.7em 0;
}

#noteLightboxTagList{
    padding: 10px;
}

#editContent, #editNoteBulletListItems{
    padding: 10px;
    height: 20vh;
}