:root{
    --Black: #020F16;
    --White: #F7F9F9;
    --Cyan: #56FCFC;
    --Magenta: #CE44FF;
    --Yellow: #f2f103;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    background:var(--Black);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#notes{
    width: 1080px;
    margin: 0 auto;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#newNoteBtn{
    color: var(--White);
    width: 246px;
    height: 246px;
    margin: 55px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--White);
    box-shadow: 0 0 7px var(--White),
                0 0 10px var(--White),
                0 0 25px var(--White);
}

#newNoteBtn:active{
    transform: scale(0.95);
}

.note{
    width: 246px;
    height: 246px;
    margin: 55px;
    color: var(--Magenta);
    text-align: center;
    border: 2px solid var(--Magenta);
    border-radius: 5px;
    box-shadow: 0 0 7px var(--Magenta),
                0 0 10px var(--Magenta),
                0 0 25px var(--Magenta);
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.note:active{
    transform: scale(0.95);
}

.noteColorCyan{
    color: var(--Cyan);
    border: 2px solid var(--Cyan);
    box-shadow: 0 0 7px var(--Cyan),
                0 0 10px var(--Cyan),
                0 0 25px var(--Cyan);
}

.noteColorYellow{
    color: var(--Yellow);
    border: 2px solid var(--Yellow);
    box-shadow: 0 0 7px var(--Yellow),
                0 0 10px var(--Yellow),
                0 0 25px var(--Yellow);
}

.noteIcon{
    font-size: 1.2em;
}

#noteEdit{
    margin: 0.7em 0.7em 0 0.7em;
}

p{
    margin: 0;
    padding: 0 0.7em;
    pointer-events: none;
}

#noteTitle{
    color: var(--White);
    overflow-wrap: break-word;
}

#noteDate{
    padding: 0;
    margin: 0.7em;
    width: 90%;
    text-align: right;
}

#noteForm{
    position: fixed;
    z-index: 100;
    width: 25vw;
    height: 50vh;
    color: var(--White);
    background: var(--Black);
    border: 2px solid var(--White);
    border-radius: 5px;
    box-shadow: 0 0 7px var(--White),
                0 0 10px var(--White),
                0 0 25px var(--White);
    display: none;
}

#noteForm.active{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input[type="text"], textarea, select{
    color: var(--White);
    padding: 5px 0 5px 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
    background: transparent;
    border: 2px solid var(--White);
    border-radius: 5px;
    resize: none;
}

#newNoteTitle,#newNoteContent,#newNoteColor, #newNoteCancelAndSubmit{
    display: flex;
    flex-direction: column;
    margin: 0 1.5em 10px 1.5em;
}

#inputContent{
    padding: 10px;
    height: 25vh;
}

#selectColor{
    border: 2px solid var(--Magenta);
}

#selectColor option{
    background: var(--Black);
}

#newNoteOptionCyan{
    color: var(--Cyan);
}

#newNoteOptionYellow{
    color: var(--Yellow);
}

#newNoteOptionMagenta{
    color: var(--Magenta);
}

#newNoteCancelAndSubmit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#newNoteCancelAndSubmit button{
    width: 100px;
    font-family: 'Orbitron', sans-serif;
    color: var(--White);
    background: var(--Black);
    border: 2px solid var(--White);
    border-radius: 5px;
}

#newNoteCancel button{
    color: var(--White);
    background: var(--Black);
    border: 2px solid var(--White);
    opacity: 0.7;
}

#newNoteCancel button:focus{
    background: var(--White);
    color: var(--Black);
}

#newNoteSubmit button:focus{
    color: var(--Black);
    background: var(--White);
}

.noteLightbox{
    position: fixed;
    z-index: 100;
    width: 25vw;
    height: 50vh;
    background: var(--Black);
    border: 2px solid var(--Cyan);
    border-radius: 5px;
    box-shadow: 0 0 7px var(--Cyan),
                0 0 10px var(--Cyan),
                0 0 25px var(--Cyan);
    display: none;
}

.noteLightbox.active{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noteLightbox > #noteLightboxButtons{
    color: var(--Cyan);
    font-size: 1.5em;
    margin: 1em 1em 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noteLightbox > #noteIconClose{
    font-size: 2em;
}

#noteLightboxContainer{
    display: flex;
    flex-direction: column;
    margin: 1em 1.5em 1.5em 1.5em;
    height: 100%;
}

#noteLightboxTitle{
    padding: 10px;
    margin: 0 0 0.7em 0;
}

#noteLightboxContent{
    padding: 10px;
    height: 100%;
}