:root{
    --color-red: red;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
	justify-content: center;
	align-items: center;
    height: 100vh;
    background-color: #797596;
}

#progressbar{
    background-color: var(--color-red);
    height: 0.3vh;
}

.btn{
    border: 0;
    padding: 0;
    font-size: 1.5em;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    color: blue;
}

.btn:hover{
    color: red;
}

.btn:active{
    color: gray;
}

#arrow-r{
    transform: translateX(3120%) translateY(725%);
}

#arrow-l{
    transform: translateX(100%) translateY(725%);
}

#slider {
    width: 600px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}
#slider .slides {
    display: flex;
    position: relative;
    /* animation-name: pociag-w-lewo;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out; */
}

#slides-dots{
    width: 600px;
    margin-top: 8px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#slides-dots .dot{
    margin: 0 3px 0 0;
    color: #a29c9b;
}

#slides-dots .dot #img-dot1{
    color: black;
}

#slide-r{
    animation: slide-r 1s forwards;
}

#slide-l{
    animation: slide-l 1s forwards;
}

@keyframes slide-r {
    0% { transform: translateX(0)}
    100% { transform: translateX(-600px)}
}

@keyframes slide-l {
    0% { transform: translateX(600px)}
    100% { transform: translateX(0)}
}

@keyframes pociag-w-lewo {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-400%);
    }
}