:root{
    --color1: #DFDDCE;
    --color2: #b6be9c;
    --color3: #7b9e87;
    --color4: #517062;
    --color5: #26413C;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
	justify-content: center;
	align-items: center;
    height: 100vh;
    background-color: var(--color4);
}


.btn{
    border: 0;
    padding: 0;
    font-size: 1.5em;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    color: var(--color1);
}

.btn:hover{
    transition: 0.25s;
    color: var(--color2);
    opacity: 75%;
}

.btn:active{
    color: var(--color3);
}

#arrow-r{
    transform: translateX(3400%) translateY(725%);
}

#arrow-l{
    transform: translateX(-200%) translateY(725%);
}

#slider {
    width: 600px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}
#slider .slides {

    display: flex;
    position: relative;
    transition: 1s;
    animation-timing-function: ease-in-out;
}

img{
    border-radius: 20px;
}

#slides-radio{
    width: 600px;
    margin-top: 8px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

input[type="radio"]{
    appearance: none;
    margin: 0 8px 0 0;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    border: 0.15em solid var(--color2);
    border-radius: 50%;
    opacity: 75%;
}

input[type="radio"]:hover{
    background: var(--color2);
    transition: 0.3s;
}

#slides-radio .currentDot{
    background: var(--color1);
    border: var(--color1);
    opacity: 1;
    transition: 1s;
}