:root {
  font-size: 20px;
  --black: rgb(43, 33, 32);
  --white: rgb(217, 225, 227);
  --lightbrown: rgb(202, 196, 172);
  --lightblue: rgb(106, 162, 195);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: var(--black);
  font-family: "Roboto Condensed", sans-serif;
  background: var(--lightbrown);
}

main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#searchBarContainer {
  display: none;
  width: 50%;
  height: 30px;
  margin: 0 auto 40px auto;
  border: 2px var(--lightblue) solid;
  border-radius: 5px;
  justify-content: space-between;
}

#searchBarItems{
    z-index: 10;
    width: 100%;
}

#searchBarInput{
    width: 98%;
    padding: 0 10px;
    color: var(--black);
    font-family: "Roboto Condensed", sans-serif;;
    background: transparent;
    border: none;
}

#searchBarInput:focus{
    outline: none;
}

#searchBarList{
    width: 100%;
    max-height: 135px;
    padding: 0;
    list-style-type: none;
    background: var(--lightbrown);
    border: 2px solid var(--lightblue);
    border-radius: 5px;
    overflow-y: auto;
}

#searchBarList li{
    padding: 10px;
    cursor: pointer;
}

#searchBarBtn{
    width: 30px;
    height: 30px;
    color: var(--lightblue);
    background: transparent;
    border: none;
    transition: 0.2s;
}

#searchBarBtn:hover{
    color: var(--white);
    scale: 1.2;
}

#searchBarBtn:active{
    scale: 0.9;
}


#tileContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.weatherTile {
  width: 250px;
  height: 500px;
  border-radius: 15px;
  background: var(--lightblue);
  transition: 0.2s;
}

.weatherTile:hover {
  scale: 1.1;
}

.generalInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generalInfo > p {
  margin: 0 auto 20px auto;
  text-align: center;
}

.generalInfo .cityName {
  margin: 0 5px 20px 5px;
}

.cityName,
.weatherTemp {
  font-size: 1.5rem;
}

.weatherHumidity {
  color: var(--white);
}

.detailedInfo{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detailedInfo .cityName {
  margin: 0 5px 20px 5px;
  text-align: center;
}

.detailedWeatherBtnContainer{
  width: 100%;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: space-evenly;
}

.detailedInfo .removeTileBtn, .detailedInfo .switchToChartBtn{
  transition: 0.2s;
}

.removeTileBtn:hover, .switchToChartBtn:hover{
  color: var(--white);
}

.removeTileBtn:active, .switchToChartBtn:active{
  scale: 0.8;
}

.detailedWeatherContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.smol{
  width: 100px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smol > p{
  margin: 0 auto 10px auto;
  text-align: center;
}

.smol > .time {
  margin: 0;
}

.detailedInfo .weatherTemp {
  font-size: 1rem;
}

.detailedInfo .weatherHumidity {
  font-size: 0.8rem;
}

.detailedInfo .weatherIcon{
  width: 50px;
  height: 50px;
}


#addTileBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightblue);
  background: transparent;
  border: 2px var(--lightblue) solid;
}
